
@{
    ViewBag.Title = "Index";
}
<div class="">
    <div class="row">
        <h2>Face Gateway</h2>
        <p>Alerts:</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img id="alertPhoto" class="img-responsive" src="~/Images/preview-logo_flexi_rgb.png" />

        </div>
        <div class="col-sm-3">
            <section id="trainingData">
                <p>Nombre</p>
                <p id="detectedName">&nbsp;</p>
                <p>Imagen</p>
                <ul id="training-slider">
                    <li>
                        <img id="trainingPhoto" class="img-responsive" src="~/Images/person.png" />
                    </li>
                </ul>
            </section>
        </div>

    </div>
    <textarea id="alertConsole" cols="10"></textarea>
</div>
<script type="text/javascript">
    $(
        function () {
            var alertHub = $.connection.alertHub;
            alertHub.client.handleAlert = function (message) {
                var messageObj = JSON.parse(message);
                FaceRecognition.alertMessage = messageObj;
                $('#alertConsole').append(messageObj);
                FaceRecognition.updateSlideshow(0);
            };
            $.connection.hub.start();

            

        }
        
    );

    var FaceRecognition = {
        emptySlideshow: null,
        slideshowElement: null,
        nameElement: null,
        alertMessage: null,
        currentDetection: {},
        setupSlideshow: function (element, nameElement) {
            this.slideshowElement = $(element);
            this.nameElement = $(nameElement);
            this.emptySlideshow = slideshowElement.html();
            $(element).lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem:9
            });
        },
        clearSlideshow: function () {
            this.slideshowElement.html(this.emptySlideshow);
        },
        updateSlideshow: function (detectionIndex) {
            this.clearSlideshow();
            if (typeof (this.alertMessage) !== 'object' ||
                typeof (this.alertMessage.Faces) !== 'object' ||
                this.alertMessage.Faces.length === 0) {
                console.error('no faces');
                return;
            }
            this.currentDetection = this.alertMessage.Faces[detectionIndex];
            this.nameElement.text(this.currentDetection.Name);
            this.currentDetection.TrainingImageFiles.forEach(function (image) {
                var li = $(document.createElement("li"));
                var img = $(document.createElement("img"));
                img.attr({ src: image , class:"img-responsive" });
                li.append(img);
                this.slideshowElement.append(li);
            });
        }
    };
    var slideshowElement = $('#training-slider');
    var nameElement = $('#detectedName');
    FaceRecognition.setupSlideshow(slideshowElement);


</script>
