
@{
    ViewBag.Title = "Index";
}
<div class="">
    <div class="row">
        <h2>Face Gateway</h2>
        <p>Alerts:</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img id="alertPhoto" class="img-responsive" src="~/Images/preview-logo_flexi_rgb.png" />

        </div>
        <div class="col-sm-3">
            <section>
                <p>Datos</p>
                <p>Nombre</p>
                <p id="detectedName">&nbsp;</p>
                <p>Imagen</p>
                <img id="trainingPhoto" class="img-responsive" src="~/Images/person.png" />

            </section>
        </div>

    </div>
    <textarea id="alertConsole" cols="10"></textarea>
</div>
<script type="text/javascript">
    $(
        function () {
            var alertHub = $.connection.alertHub;
            alertHub.client.handleAlert = function (message) {
                $('#alertConsole').append(message);
                $('#detectedName').text(message);
            };
            $.connection.hub.start();
        }
    );
</script>
